.home-main {
  height: 100vh;
  display: grid;
  grid-template-columns: 46.58% 1fr 7.47%;
  grid-template-rows: 35.51vh 36.34vh 28.15vh;
  grid-template-areas:
    "image header ."
    "image content ."
    "image . .";
}
.main-image {
  grid-area: image;
  background-size: cover;
  background-position: right;
  background-image: url('../assets/heroImage.png');
}
.main-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 2.375rem;
    font-weight: normal;
    letter-spacing: -0.76px;
    line-height: 3.44rem;
    text-align: center;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content-decoration {
  margin-top: 1.56rem;
  img {
    width: 13.32vw;
    height: 2.06rem;
  }
}
.main-content-buttons {
  display: flex;
  justify-content: center;
  margin-top: 4.06rem;
}
.main-button {
  text-decoration: none;
  .btn {
    width: 16.3vw;
    height: 7.5rem;
    padding: 0.8rem 4.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: $color-dark-text;
    font-weight: lighter;
    border: 0.75px solid $color-dark-text;
    background-color: #fff;
  }
  &:first-child {
    margin-right: 5.26vw;
  }
}

// HomeHeader
.home-header {
  grid-area: header;
}
.header-autorization {
  height: 2.25rem;
  margin: 2.3rem 0 1.6rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      text-align: center;
    }
  }
}
.login-btn,
.register-btn {
  padding: 0.625rem 0.47vw;
  text-decoration: none;
  color: $color-light-text;
}
.login-btn {
  font-size: 0.875rem;
}
.register-btn {
  width: 4.737vw;
  height: 2.25rem;
  font-size: 0.8125rem;
  border: 0.75px solid $color-btn-border;
}

//HeaderNav
.header-nav {
  height: 2.625rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      font-size: 1.13rem;
      color: $color-dark-text;
      text-align: right;
      margin-left: 2vw;
      display: inline-block;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    li:first-child {
      width: 4.21vw;
      height: 2.625rem;
      margin-left: 0;
      border: 0.75px solid $color-dark-text;
      justify-content: center;
    }
  }
}
