.simple-steps {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-bottom: 3.125rem;
    .title-container {
        margin: 3.44rem 0 2.125rem;
        h3 {
            font-size: 2.375rem;
            letter-spacing: -0.76px;
            font-weight: normal;
        }
        .decoration {
            text-align: center;
            margin-top: 1.56rem;
            img {
                width: 13.32vw;
                height: 2.06rem;
            }
        }
    }
    .steps-container {
        display: flex;
        justify-content: center;
        background-color: $color-light-background;
        margin-bottom: 1.56rem;
        .step {
            padding: 4.7%;
            img {
                width: 4.37vw;
                margin: 0.4375rem auto;
            }
            h4 {
                font-size: 1.125rem;
            }
            .step-line {
                width: 3.7rvw;
                display: inline-block;
                color: $color-line;
            }
            p {
                margin-top: 0.656rem;
                font-size: 1rem;
            }
        }
    }
    .simple-steps-link {
        .btn {
            width: 16.3vw;
            padding: 0.8125rem 2.25vw;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: $color-dark-text;
            font-size: 2.25rem;
            font-weight: lighter;
            border: 0.75px solid $color-dark-text;
            background-color: #fff;
        }
    }
}